<div *ngIf="searchResults; else elseBlock">
<h3 class="total">Total Results: {{searchResults.total_count}}</h3>
<ul class="list">
    <!--The outcome of this statement is that the variable i will be set to 0 the first time through the loop, then incremented to 1 and so on.-->
    <!--We add an object to the ngStyle directive on our <li> tag.-->
    <li [ngStyle]="{'background-color' : (i % 2 === 0) ? 'silver' : 'white'}" class="list_item" *ngFor="let result of searchResults.items; index as i;">
        <a [href]="result.html_url">
            <img class="avatar" [src]="result.owner.avatar_url">
            <h4 class="tittle">{{result.name}}
                <small>by {{result.owner.login}}</small>
            </h4>
        </a>
        <p class="description"> {{result.description}} </p>
    </li>
</ul>
</div>
<ng-template #elseBlock>Loading...</ng-template>